
body {
    background-image: url('http://wallpapercave.com/wp/bV3WiYh.jpg');
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color:azure;
}
#TOS
{
    font-family: federation classic;
    color:cadetblue;
}

#TNG
{
    font-family: ;
    color:skyblue;
}
#DS9
{
    font-family: ;
    color:blueviolet;
}

#homeButton {
    position: absolute;
    right: 8px;
    bottom: 16px;
    height: 100px;
    width: 100px;
    background-color: white;
}

.imgContainer{
    display:inline-block;
}
.imgContainer {
    display:inline-block;
}

.buttonRound {
  border-radius: 8px;
}
