
body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color:azure;
}

#Vader {
    font-family: verdana;
    color:red;
}

#Luke {
    font-family: verdana;
    color:aqua;
}

#Yoda {
    font-family: verdana;
    color:green;
}

.imgContainer {
    display:inline-block;
}

.buttonRound {
  border-radius: 8px;
}
