
body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color:azure;
}
#Vader
{
    font-family: verdana;
    color:red;
}

#Luke
{
    font-family: verdana;
    color:aqua;
}

.center {

}
.imgContainer{
    display:inline-block;
}
